
<div class="email">
    <div class="container">
        <div class="col-xs-12">
            <div class="col-xs-12" style="text-align: center">
                <span class="titleEmail" style="font-size: 18px;font-weight: 700;margin-right: 20px;">Đăng ký để nhận tin từ Hyundai An Phú</span>
                <span class="">
                    <input class="" id="EmailRe" name="EmailRe" style="margin-right: 10px; width: 47%; height: 35px; padding: 10px;" placeholder="Nhập địa chỉ Email">
                    <button style="height: 35px; width: 50px; background: #034A84; color: #fff; border: none;" onclick="_Send()">Gửi</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="footer_top" style="background: #272D3A; border-bottom: 1px solid #fff">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3 col-lg-3 col-sm-6 col-xs-12 col-12 footer-col wow slideInUp text-center">
                <img src="../../assets/images/daily-logo-footer.png" class="img-fluid">
                <div class="textwidget" style="font-weight:normal;text-align: justify;">
                    <p>
                        Hyundai An Phú - Đại lý ủy quyền chính thức của Hyundai Thành Công là địa điểm trưng bày các
                        dòng xe mới nhất của Hyundai.
                        <br>
                        <br>
                        Tọa lạc tại trung tâm Thành Phố Hồ Chí Minh với các Showroom chuẩn 1S, 2S hiện đại, cùng đội ngũ
                        chuyên viên tư vấn giàu kinh nghiệm.
                        <br>
                        <br>
                        Hyundai An Phú mang sứ mệnh phục vụ khách hàng trên Toàn quốc, giúp khách hàng có những trải
                        nghiệm ấn tượng về sản phẩm - dịch vụ cao cấp của chúng tôi.
                        <br>
                        <br>
                        Liên hệ ngay để được tư vấn và nhận các chương trình ưu đãi hấp dẫn
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3 col-sm-6 col-xs-12 col-12 footer-col wow slideInUp text-center">
                <h5 class="footer_headings">Hình ảnh</h5>
                <div class="top-line"></div>
            </div>
            <div class="col-6 col-md-3 col-lg-3 col-sm-6 col-xs-12 col-12 footer-col wow slideInUp ">
                <h5 class="footer_headings">Bài viết gần đây</h5>
                <div class="top-line"></div>
                <div class="new-title">
                    <div class="row">
                        <div class="col-md-3 ">
                            <img src="../../assets/images/title1.jpg" class="img-fluid" height="100px">
                        </div>
                        <div class="col-md-9" style="padding: 0px;text-align: left;">
                            <span style="color: white;font-size: 13px;line-height: 1.8;">🚘✨ ROADSHOW THÁNG 05 CÙNG
                                HYUNDAI...</span><br>
                            <h3 style="color: white;font-size: 13px;float: left;line-height: 1.8;">27/05/2020</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 ">
                            <img src="../../assets/images/title2.jpg" class="img-fluid" height="100px">
                        </div>
                        <div class="col-md-9" style="padding: 0px;text-align: left;">
                            <span style="color: white;font-size: 13px;line-height: 1.8;">🚘 CHƯƠNG TRÌNH GIA HẠN BẢO
                                HÀNH “H...</span><br>
                            <h3 style="color: white;font-size: 13px;float: left;line-height: 1.8;">14/07/2020</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 ">
                            <img src="../../assets/images/title3.jpg" class="img-fluid" height="100px">
                        </div>
                        <div class="col-md-9" style="padding: 0px;">
                            <span style="color: white;font-size: 13px;text-align: left;line-height: 1.8;">🔥 KHỞI SẮC
                                ROADSHOW THÁNG 06 TẠI H...</span><br>
                            <h3 style="color: white;font-size: 13px;float: left;line-height: 1.8;">13/06/2020</h3>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3 col-sm-6 col-xs-12 col-12 footer-col wow slideInUp ">
                <h5 class="footer_headings">FACEBOOK</h5>
                <div class="top-line"></div>
                <iframe class="hidden-xs hidden-sm iframe-fluid responsive-iframe"
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhyundaianphu.mpcauto.vn%2F%3Fzdlink%3DUo9XRcHoRsba8ZeYOszjBcPXOsLYRszhBcjXT65kOI8i8cblSo8wUo9pOsXbRMLVTN9i8ZeYUc5iRoqoE3GuE38oCJKwN2zSBo8i8c5mS6ba8ZeYCZWqE3WoCZ4r8drz&amp;tabs=timeline&amp;width=290&amp;height=196&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=770224896517738"
                    width="290" height="196" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-6 col-md-12 col-lg-4 col-12 p-0">
                <div class="row" style="margin: 0px;">
                    <div class="col-lg-2 col-md-2">
                        <img src="../../assets/images/icon-market.svg" class="img-fluid" >
                    </div>
                    <div class="col-lg-9 col-md-10">
                        <p style="margin-top: 10px;margin-bottom: 10px;color: white;font-size: 14px;font-weight: 700;"> Showroom 2S: 1052 Nguyễn Văn Linh, P.Tân Phong, Quận 7, TP.HCM</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-12 col-lg-4 col-12 p-0">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <img src="../../assets/images/icon-market.svg" class="img-fluid" style=" max-width: 100%;height: auto;">
                    </div>
                    <div class="col-lg-9 col-md-10">
                        <p style="margin-top: 10px;margin-bottom: 10px;color: white;font-size: 14px;font-weight: 700;"> Showroom 1S: 5A Nguyễn Thị Minh Khai, P.Bến Nghé, Quận 1, TP.HCM</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-12 col-lg-4 col-12 p-0">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <img src="../../assets/images/icon-contact.svg" class="img-fluid" style=" max-width: 100%;height: auto;">
                    </div>
                    <div class="col-lg-10 col-md-10">
                        <p style="margin-top: 10px;margin-bottom: 10px;color: white;font-size: 14px;font-weight: 700;"> info@anphuhyundai.com.vn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer_bottom" style="background: #272D3A; padding-bottom: 10px">
    <div class="footer_headings container" style="text-align: center; margin: auto; padding: 10px 0">Copyright ©idocNet 2018</div>
</div>
<!-- 
<div class="container-fluid" style="margin-top: 0;margin-bottom: 0;">
    <div class="row hidden-xs d-none d-sm-block" style=" margin-top: 40px;">

        <div class="col-md-8 col-lg-8 offset-2 col-12"
            style="border-bottom: 1px solid #c7c7c7;border-top: 1px solid #c7c7c7;padding-top: 30px;">
            <div class="row">
                <div class="col-lg-3 col-md-3 footermenu" style="padding-left: 0;">
                    <div class="title">Sản Phẩm</div>
                    <ul>
                        <li>
                            <a href="/vi/danh-muc-san-pham/xe-du-lich" style="color: rgb(48, 118, 183);">
                                <h5 style="color: #333;font-size: 14px !important;">Xe du lịch</h5>
                            </a>
                        </li>
                        <li>
                            <a href="/vi/danh-muc-san-pham/xe-suv-xe-mpv" style="color: rgb(48, 118, 183);">
                                <h5 style="color: #333;font-size: 14px !important;">Xe SUV, xe MPV</h5>
                            </a>
                        </li>
                        <li>
                            <a href="/vi/danh-muc-san-pham/xe-chuyen-dung" style="color: rgb(48, 118, 183);">
                                <h5 style="color: #333;font-size: 14px !important;">Xe chuyên dụng</h5>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 footermenu" style="padding-left: 0;">
                    <div class="title">Dịch Vụ</div>
                    <ul>
                        <li>
                            <a href="/vi/danh-muc-san-pham/xe-du-lich" style="color: rgb(48, 118, 183);">
                                <h5 style="color: #333;font-size: 14px !important;">Chương trình dịch vụ</h5>
                            </a>
                        </li>
                        <li>
                            <a href="/vi/danh-muc-san-pham/xe-suv-xe-mpv" style="color: rgb(48, 118, 183);">
                                <h5 style="color: #333;font-size: 14px !important;">Chính sách bảo hành</h5>
                            </a>
                        </li>
                        <li>
                            <a href="/vi/danh-muc-san-pham/xe-chuyen-dung" style="color: rgb(48, 118, 183);">
                                <h5 style="color: #333;font-size: 14px !important;">Phụ tùng & Phụ kiện chính hãng</h5>
                            </a>
                        </li>
                        <li>
                            <a href="/vi/danh-muc-san-pham/xe-chuyen-dung" style="color: rgb(48, 118, 183);">
                                <h5 style="color: #333;font-size: 14px !important;">Chăm soc khách hàng</h5>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 footermenu" style="padding-left: 0;">
                    <div class="title">Tin tức</div>
                    <ul>
                        <li>
                            <a href="/vi/danh-muc-san-pham/xe-du-lich" style="color: rgb(48, 118, 183);">
                                <h5 style="color: #333;font-size: 14px !important;">Tin tức chung</h5>
                            </a>
                        </li>
                        <li>
                            <a href="/vi/danh-muc-san-pham/xe-suv-xe-mpv" style="color: rgb(48, 118, 183);">
                                <h5 style="color: #333;font-size: 14px !important;">Tin công ty</h5>
                            </a>
                        </li>
                        <li>
                            <a href="/vi/danh-muc-san-pham/xe-chuyen-dung" style="color: rgb(48, 118, 183);">
                                <h5 style="color: #333;font-size: 14px !important;">Tin khuyến mại</h5>
                            </a>
                        </li>
                        <li>
                            <a href="/vi/danh-muc-san-pham/xe-chuyen-dung" style="color: rgb(48, 118, 183);">
                                <h5 style="color: #333;font-size: 14px !important;">Tuyển dụng</h5>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 footermenu" style="padding-left: 0;">
                    <div class="title">Về chúng tôi</div>
                    <ul>
                        <li>
                            <a href="/vi/danh-muc-san-pham/xe-du-lich" style="color: rgb(48, 118, 183);">
                                <h5 style="color: #333;font-size: 14px !important;">Giới thiệu chung</h5>
                            </a>
                        </li>
                        <li>
                            <a href="/vi/danh-muc-san-pham/xe-suv-xe-mpv" style="color: rgb(48, 118, 183);">
                                <h5 style="color: #333;font-size: 14px !important;">Liên hệ</h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 offset-2 col-12 copyright"
            style="border-top: 1px solid #c7c7c7;padding-top: 45px;margin-bottom: 30px;">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-12 no-padding">
                    <a href="/" style="margin-bottom: 30px !important;">
                        <img class="img-fluid" src="../../assets/images/giaiphong-logo.png" alt="logo HyundaiGiaiPhong"
                            style="max-width: 70%;">
                    </a>
                    <div style="margin-top: 20px;">
                        <p>Tên đơn vị: Công ty TNHH Ô tô Hyundai Giải Phóng</p>
                        <p>Người đại diện: Ông Đỗ Quốc Tuyển</p>
                        <p>Email: info@hyundaigiaiphong.com.vn</p>
                    </div>
                    <div style="margin-top: 40px !important;">
                        <p>Mã số thuế : 0102055174</p>
                        <p>Ngày cấp : 25/10/2006</p>
                        <p>Ngày hoạt động: 15/11/2006</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-12 no-padding">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-12" style="margin-bottom: 10px;display: block;">
                            <a href="/vi/lien-he">
                                <i class="fa fa-map-marker"></i>
                            </a>
                            <a href="/vi/lien-he"> Showroom 2: Số 68 Trường Chinh, Đống Đa, Hà Nội</a>

                        </div>
                        <div class="col-md-12 col-lg-12 col-12" style="margin-bottom: 10px;display: block;">
                            <a href="/vi/lien-he">
                                <i class="fa fa-map-marker"></i>
                            </a>
                            <a href="/vi/lien-he"> Showroom 2: Số 68 Trường Chinh, Đống Đa, Hà Nội</a>
                        </div>
                        <div class="col-md-6 col-12" style="margin-bottom: 10px;display: block;">
                            <a href="/vi/lien-he">
                                <i class="fa fa-phone"></i>
                            </a>
                            <a href="/vi/lien-he"> 02436 813 968</a>
                        </div>
                        <div class="col-md-6 col-12" style="margin-bottom: 10px; display: block;">
                            <a href="/vi/lien-he" style="padding: 0;">
                                <img class="img-fluid" src="../../assets/images/icon-fax.png" alt="HyundaiGiaiPhong">
                            </a>
                            <a href="/vi/lien-he"> 02436 813 952</a>
                        </div>
                        <div class="col-md-12 col-lg-12 col-12" style="margin-bottom: 10px;display: block;">
                            <a href="/vi/lien-he">
                                <i class="fa fa-phone"></i>
                            </a>
                            <a href="/vi/lien-he"> Hotline dịch vụ: 0904 566 808</a>
                        </div>
                        <div class="col-md-12 col-lg-12 col-12 no-padding">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d465.7911980035172!2d105.8439878!3d20.9392755!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7c2d07d3a166ad7d!2sHyundai%20Gi%E1%BA%A3i%20Ph%C3%B3ng%20By%20Tc%20Motor!5e0!3m2!1svi!2s!4v1581567140901!5m2!1svi!2s&amp;zoom=1"
                                width="400" height="225" frameborder="0" style="border: 1.5px solid #ddd;"
                                allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="min-height: 45px !important; padding: 0 !important">
    <div class="menu-bot hidden-xs d-none d-sm-block">
        <div class="row" style="background-color: #fff; margin: 0 auto !important; margin-top: 50px; height: 45px; line-height: 45px; color: #333;">
            <div class="col-lg-8 col-md-8 offset-2 col-12 " style="padding: 0;">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-4" style=" height: 45px; line-height: 45px; font-size: 14px;">

                        COPYRIGHT 2016 HYUNDAIGIAIPHONG.COM.VN
                    
                    </div>
                    <div class="col-lg-8 col-md-8 col-8">
                        <ul class="list-inline">
                            <li><a href="/vi/Product/ListProduct">Sản phẩm</a></li>
                            <li><a href="/vi/HtmlPage/Services?HtmlPageCateId=1">Dịch vụ</a></li>
                            <li><a href="/">Đại lý</a></li>
                            <li><a href="/vi/tin-tuc">Tin tức</a></li>
                            <li class="dropdown">
                                <a href="/vi/video" aria-expanded="false">Video</a>
                                
                            </li>
                            <li><a href="/vi/tin-tuc">Khuyến mại</a></li>
                            <li><a href="/vi/dang-ky-lai-thu">Đăng ký lái thử</a></li>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div> -->