<nav class=" header navbar d-lg-flex navbar-expand-lg .navbar-light bg-white">
    <a class="navbar-brand d-none d-md-block" href="#"><img src="../../assets/images/hyundai-logo.png" width="200px"
            height="28px" style=" max-width: 100%;height: auto;margin-left: 50px;"></a>
    <a class="navbar-brand d-block d-md-none" href="#"><img src="../../assets/images/daily-logo.png" width="200px"
            height="30px" style=" max-width: 100%;height: auto;"></a><br>
    <span class="visible-xs logo-hd d-block d-md-none"
        style="color: #243d8e; font-size: 14px; font-weight: bold; text-shadow: 0px 1px #243d8e;">028 36 36 82 95</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" style="padding:6px;">


            <li class="nav_item" style="margin-right: 20px;">
                <a class="nav-link" href="#" style="color: black;">Giới thiệu</a>
            </li>

            <li class="nav-item dropdown1" style="margin-right: 20px;">
                <span class="nav-link d-none d-md-block" href="#" style="color: black;font-weight: 500;">Sản phẩm</span>
                <div class="dropdown-content1 ">
                    <a href="#" style="border-bottom: solid 1px #eee;color: black;">Xe du lịch</a>
                    <a href="#" style="border-bottom: solid 1px #eee;color: black;">Xe SUV</a>
                    <a href="#" style="border-bottom: solid 1px #eee;color: black;">Xe thương mại</a>
                    <a href="#" style="color: black;">Limousin An Phú</a>
                </div>
                <a class="nav-link dropdown-toggle d-block d-md-none" id="mydropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color: black;font-weight: 500;">
                    Sản phẩm
                </a>
                <div class="dropdown-menu hide" aria-labelledby="mydropdown">
                    <a class="dropdown-item" href="#">Xe du lịch</a>
                    <a class="dropdown-item" href="#">Xe SUV</a>
                    <a class="dropdown-item" href="#">Xe thương mại</a>
                    <a class="dropdown-item" href="#">Limousin An Phú</a>
                </div>
            </li>

            <li class="nav-item dropdown1" style="margin-right: 20px;">
                <a class="nav-link d-none d-md-block" style="color: black;font-weight: 500;">Tin tức</a>
                <div class="dropdown-content1 ">
                    <a href="#" style="border-bottom: solid 1px #eee;color: black;">Tin khuyến mãi</a>
                    <a href="#" style="border-bottom: solid 1px #eee;color: black;">Tin tức chung</a>
                    <a href="#" style="border-bottom: solid 1px #eee;color: black;">Tin dịch vụ</a>
                    <a href="#" style="border-bottom: solid 1px #eee;color: black;">Tin tuyển dụng</a>
                    <a href="#" style="color: black;">Hỏi đáp</a>
                </div>
                <a class="nav-link dropdown-toggle d-block d-md-none" id="mydropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color: black;font-weight: 500;">
                    Tin tức
                </a>
                <div class="dropdown-menu hide" aria-labelledby="mydropdown">
                    <a class="dropdown-item" href="#">Tin tức khuyến mãi</a>
                    <a class="dropdown-item" href="#">Tin tức chung</a>
                    <a class="dropdown-item" href="#">Tin dịch vụ</a>
                    <a class="dropdown-item" href="#">Tin tuyển dụng</a>
                </div>
            </li>

            <li class="nav-item dropdown1" style="margin-right: 20px;">
                <a class="nav-link d-none d-md-block" href="#" style="color: black;font-weight: 500;">Dịch vụ</a>
                <div class="dropdown-content1 ">
                    <a href="#" style="border-bottom: solid 1px #eee;color: black;">Chăm soc khách hàng</a>
                    <a href="#" style="border-bottom: solid 1px #eee;color: black;">Chính sách bảo hành</a>
                    <a href="#" style="border-bottom: solid 1px #eee;color: black;">Bảo dưỡng định kỳ</a>
                    <a href="#" style="color: black;">Phụ tùng & phụ kiện</a>
                </div>
                <a class="nav-link dropdown-toggle d-block d-md-none" id="mydropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color: black;font-weight: 500;">
                    Dịch vụ
                </a>
                <div class="dropdown-menu hide" aria-labelledby="mydropdown">
                    <a class="dropdown-item" href="#">Chăm soc khách hàng</a>
                    <a class="dropdown-item" href="#">Chính sách bảo hành</a>
                    <a class="dropdown-item" href="#">Bảo dưỡng định kỳ</a>
                    <a class="dropdown-item">Phụ tùng & phụ kiện</a>
                </div>
            </li>

            <li class="nav-item dropdown1" style="margin-right: 20px;">
                <a class="nav-link  d-none d-md-block" href="#" style="color: black;font-weight: 500;">Đăng ký lái
                    thử</a>
                <div class="dropdown-content1 ">
                    <a href="#" style="border-bottom: solid 1px #eee;color: black;">Đăng ký lái thử</a>
                    <a href="#" style="color: black;">Đặt lịch bảo dưỡng</a>
                </div>
                <a class="nav-link dropdown-toggle d-block d-md-none" id="mydropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color: black;font-weight: 500;">
                    Đăng ký lái thử xe
                </a>
                <div class="dropdown-menu hide" aria-labelledby="mydropdown">
                    <a class="dropdown-item">Đăng ký lái thử xe</a>
                    <a class="dropdown-item">Đặt lịch bảo dưỡng</a>
                </div>
            </li>


            <li class="nav-item dropdown1 " style="margin-right: 20px;">
                <a class="nav-link d-none d-md-block" style="color: black;font-weight: 500;">Mua xe</a>
                <div class="dropdown-content1 ">
                    <a href="#" style="border-bottom: solid 1px #eee;color: black;">Bảng giá</a>
                    <a href="#" style="border-bottom: solid 1px #eee;color: black;">Dự toán chi phí</a>
                    <a href="#" style="border-bottom: solid 1px #eee;color: black;">Hỗ trợ trả góp</a>
                    <a href="#" style="color: black;">Hướng dẫn thủ tục</a>
                </div>
                <a class="nav-link dropdown-toggle d-block d-md-none" id="mydropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color: black;font-weight: 500;">
                    Mua xe
                </a>
                <div class="dropdown-menu hide " aria-labelledby="mydropdown">
                    <a class="dropdown-item" href="#">Mục 1</a>
                    <a class="dropdown-item" href="#">Mục 2 abc</a>
                    <a class="dropdown-item" href="#">Mục 3 zyz abc</a>
                </div>
            </li>
            <li class="nav-item dropdown dmenu  " style="margin-right: 20px;">
                <a class="nav-link" href="#" style="color: black;font-weight: 500;">Liên hệ</a>
            </li>
            <li class="nav-item dropdown dmenu d-none d-md-block " style="margin-right: 20px;margin-left: 300px;">
                <img src="../../assets/images/daily-logo.png" width="150px" height="25px" class="img-fluid"
                    style=" max-width: 100%;">
            </li>

        </ul>


    </div>
</nav>


<div class="group_icon d-none d-md-block">

    <div class="icon">
        <a href="https://www.youtube.com/channel/UC42dzoVIXh4275k3B0vkRqw?view_as=subscriber"><img
                src="../../assets/images/youtube.svg" alt="Youtube" class="img-fluid"></a>
    </div>
    <div class="icon">
        <a href="https://www.facebook.com/hyundaianphu.mpcauto.vn"><img src="../../assets/images/facebook.jpg"
                alt="Facebook" class="img-fluid" style="border-radius: 10px;"></a>
    </div>

</div>
<div class="make-regist d-none d-md-block">
    <div class="regist">
        <a href="/vi/dang-ky-lai-thu">Đăng ký lái thử</a>
    </div>
    <div class="make-app">
        <a href="/vi/dat-lich-hen-bao-duong">Đặt lịch bảo dưỡng</a>
    </div>
</div>

<div class="fix_tel">
    <div class="ring-alo-phone ring-alo-green ring-alo-show" id="ring-alo-phoneIcon"
        style="right: 150px; bottom: -12px;">
        <div class="ring-alo-ph-circle"></div>
        <div class="ring-alo-ph-circle-fill"></div>
        <div class="ring-alo-ph-img-circle">

            <a href="tel:1900 988 978">
                <img class="lazy" src="../../assets/images/phone-ring.png" alt="Call now">
                <noscript>&amp;amp;amp;amp;lt;img src="/Images/phone-ring.png" alt=""&amp;amp;amp;amp;gt;</noscript>
            </a>
        </div>
    </div>
    <div class="tel">
        <p class="fone">1900 988 978</p>
    </div>
</div>

<div id="icic_lc_button"
    style="position: fixed; width: 200px; height: 30px; bottom: 0; right: 5px; background: #50B2E5; border-radius: 3px 3px 0 0; cursor: pointer;z-index: 999;"
    onclick="icic_lc_show();"><span
        style="background: url(http://icichtc.ewave.vn:4900/images/livechat/lcwg.png) center left no-repeat; margin-left: 10px; line-height: 30px; display: inline-block; padding-left: 30px; font: 700 14px/30px arial; color: #fff;">Chat
        với chúng tôi!</span>
</div>







<!-- web cũ -->
<!-- <div class="container-fluid d-none d-lg-flex" style="padding-left: 50px;background-color: #f8f8f8;">
    <div class="menu-top row">
        <a href="/" class="float-left navbar-logo">
            <img class="img-fluid" style="width: 100%;" src="../../assets/images/logo-tcmotor.png" alt="" width="100%"
                height="auto">
        </a>

        <a href="/" class="float-right navbar-logo dealer-logo " style="float: right !important;">
            <img src="../../assets/images/giaiphong-logo (1).png" alt="hyundai giải phóng"
                class="img-fluid d-inline-block">
        </a>
    </div>
</div>

<nav #navbar class="navbar navbar-default navbar-light  navbar-expand-lg d-none d-lg-flex">
    <div class="container-fluid no-padding" style="width: 90%;max-width: 90%;">
        <div class="navbar-header hidden-xs desktop-header-menu" style="margin: 0;">
            <div class="collapse navbar-collapse header-menu">
                <ul style="margin-left: -67px;margin-bottom: 0px;">
                    <li>Tin tức</li>
                    <li class="nav-item dropdown dmenu myDIV"><a href="/vi/Product/ListProduct" class="active"
                            data-toggle="dropdown" aria-expanded="true">Sản
                            phẩm</a>
                        <div class="dropdown-menu sm-menu dropdown-content hide" style="padding: 5px;padding-left: 10px;padding-right: 6px;margin-top: 8px;">
                            <a class="dropdown-item" href="#" style="border-bottom: 1px solid #ccc ;font-size: 14px;color: black;padding-bottom: 10px;">Xe du lịch</a>
                            <a class="dropdown-item" href="#" style="border-bottom: 1px solid #ccc ;font-size: 14px;color: black;padding-bottom: 10px;">Xe SUV, xe MVP</a>
                            <a class="dropdown-item" href="#" style="font-size: 14px;color: black;padding-bottom: 10px;">Xe chuyên dụng</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown dmenu myDIV"><a href="/vi/Product/ListProduct" class="active"
                        data-toggle="dropdown" aria-expanded="true">Dịch vụ</a>
                        <div class="dropdown-menu sm-menu dropdown-content hide" style="padding: 5px;padding-left: 10px;padding-right: 6px;margin-top: 8px;">
                            <a class="dropdown-item" href="#" style="border-bottom: 1px solid #ccc ;font-size: 14px;color: black;padding-bottom: 10px;">Chương trình dịch vụ</a>
                            <a class="dropdown-item" href="#" style="border-bottom: 1px solid #ccc ;font-size: 14px;color: black;padding-bottom: 10px;">Chính sách bảo hành</a>
                            <a class="dropdown-item" href="#" style="font-size: 14px;color: black;padding-bottom: 10px;">Phu tùng & phụ kiện chính hãng</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown dmenu myDIV"><a href="/vi/Product/ListProduct" class="active"
                        data-toggle="dropdown" aria-expanded="true">Tư vấn mua xe</a>
                        <div class="dropdown-menu sm-menu dropdown-content hide" style="padding: 5px;padding-left: 5px;padding-right: 6px;margin-top: 8px;">
                            <a class="dropdown-item" href="#" style="border-bottom: 1px solid #ccc ;font-size: 14px;color: black;padding-bottom: 10px;">Bảng giá</a>
                            <a class="dropdown-item" href="#" style="border-bottom: 1px solid #ccc ;font-size: 14px;color: black;padding-bottom: 10px;">Dự toán chi phí</a>
                            <a class="dropdown-item" href="#" style="border-bottom: 1px solid #ccc ;font-size: 14px;color: black;padding-bottom: 10px;">Tư vấn</a>
                            <a class="dropdown-item" href="#" style="border-bottom: 1px solid #ccc ;font-size: 14px;color: black;padding-bottom: 10px;">Kinh nghiệm lái xe</a>
                            <a class="dropdown-item" href="#" style="font-size: 14px;color: black;padding-bottom: 10px;">Phong thủy ô tô</a>
                        </div>
                    </li>
                    <li>Đánh giá xe</li>
                    <li>Về chúng tôi</li>
                    <li class="nav-item dropdown dmenu myDIV"><a href="/vi/Product/ListProduct" class="active"
                        data-toggle="dropdown" aria-expanded="true">Chính sách & quy định</a>
                        <div class="dropdown-menu sm-menu dropdown-content hide" role="menu" style="padding: 5px;padding-left: 5px;padding-right: 6px;margin-top: 8px;">
                            <a class="dropdown-item" href="#" style="border-bottom: 1px solid #ccc ;font-size: 14px;color: black;padding-bottom: 10px;">Quy định và hình thức thnah toán</a>
                            <a class="dropdown-item" href="#" style="border-bottom: 1px solid #ccc ;font-size: 14px;color: black;padding-bottom: 10px;">Chính sách vận chuyển</a>
                            <a class="dropdown-item" href="#" style="border-bottom: 1px solid #ccc ;font-size: 14px;color: black;padding-bottom: 10px;">Chính sách bảo mật thông tin</a>
                            <a class="dropdown-item" href="#" style="font-size: 14px;color: black;padding-bottom: 10px;">Chinh sách đổi/trả hàng và hoàn tiền</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav> -->


<!-- <div class="hidden-sm d-none d-sm-block contact-header fix-position" style="float: right;" id="BusinessHotline">
    <a href="/vi/lien-he" class="hidden-sm active" target="_blank" style="line-height: 36px;">
        <div style="text-align: center; color: red;" class="contact-header-url">
            <span style="margin-right: 15px">
                <img src="../../assets/images/ico-hotline.png" class="img-fluid" alt="phone" style="margin-bottom: 2px; height: 20px;">
                090 618 1166
            </span>
            <span>Dịch vụ: 0904 566 808</span>
        </div>
    </a>
</div>


<div class="d-lg-none ">
    <ul id="info-fixed" class="cleafix">
        <li class="clearfix">
            <a id="tel_hotline" class="clearfix" href="tel:+0906181166">
                <span class="fixed-hotline-text">
                    HOTLINE 
                    <small>
                        090 618 1166
                    </small>
                </span>
                <span class="icon"><img style="margin-top: 1px; margin-left: 1px;" src="/Images/phone-ico.png" alt=""></span>
            </a>
        </li>
    </ul>
</div> -->